$ember-basic-dropdown-content-background-color: #fff !default;
$ember-basic-dropdown-content-z-index: 1000 !default;
$ember-basic-dropdown-overlay-background: rgba(0, 0, 0, 0.5) !default;
$ember-basic-dropdown-overlay-pointer-events: none !default;
