$ember-basic-dropdown-content-background-color: #FFF !default;
$ember-basic-dropdown-content-z-index: 1000 !default;

.ember-basic-dropdown {
  position: relative;
}
.ember-basic-dropdown, .ember-basic-dropdown-content, .ember-basic-dropdown-content * {
  box-sizing: border-box;
}
.ember-basic-dropdown-content {
  position: absolute;
  width: auto;
  z-index: $ember-basic-dropdown-content-z-index;
  background-color: $ember-basic-dropdown-content-background-color;
}
.ember-basic-dropdown-content--left { left: 0; }
.ember-basic-dropdown-content--right { right: 0; }

// .ember-basic-dropdown-text-select-disabled {
//   user-select: none;
//   -webkit-user-select: none;
// }