$ember-basic-dropdown-content-background-color: #FFF !default;
$ember-basic-dropdown-border-color: #aaaaaa !default;

.ember-basic-dropdown {
  position: relative;
}
.ember-basic-dropdown, .ember-basic-dropdown *, .ember-basic-dropdown-content, .ember-basic-dropdown-content * {
  box-sizing: border-box;
}

.ember-basic-dropdown-content {
  position: absolute;
  width: 100%;
  z-index: 2;
  background-color: $ember-basic-dropdown-content-background-color;
  border: 1px solid $ember-basic-dropdown-border-color;
  width: auto;
}