// main header
.main-header {
  /* more styles in brandification */
  color: white;
}
.main-header-nav {
  @extend %wrapper;
}
.main-header-logo {
  color: white;
  font-size: 30px;
  display: block;
  text-align: center;
  line-height: 30px;
  padding-top: 15px;
  .home-link {
    vertical-align: text-bottom;
    color: white;
  }
  img {
    height: 36px;
    width: 88px;
    vertical-align: -5%;
  }
}
.logo-dropdown-button {
  display: inline-block;
  outline: none;
  border-radius: 4px;
  /* more styles in brandification */
  padding: 5px 10px;
  font-size: inherit;
  color: inherit;
  text-align: center;
  border: 1px solid #f9efe4;
  box-shadow: 0 3px #f9efe4;
  &:hover {
    /* more styles in brandification */
  }
  &[aria-expanded="true"] {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    transform: translateY(3px);
  }
}
.logo-dropdown-content {
  border: 1px solid #f9efe4;
  display: flex;
  width: 300px;
  /* more styles in brandification */
  border-radius: 4px;
  color: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.logo-dropdown-content-pantone-entry {
  flex-grow: 1;
  min-width: 30px;
  height: 90px;
  border: none;
  outline: none;
  transition: flex-grow 0.15s;
  &:hover {
    flex-grow: 5;
  }
}

.main-header-nav-links {
  display: flex;
}
.main-header-nav-link {
  font-weight: 500;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media only screen and (max-width: $small-breakpoint) {
  .main-header {
    line-height: 44px;
  }
  .main-header-nav {
    padding-right: 0;
    padding-left: 0;
  }
  .main-header-nav-links {
    justify-content: space-between;
    background-color: rgba(black, 0.2);
    overflow-x: auto;
  }
}
@media only screen and (min-width: $small-breakpoint) {
  .main-header {
    line-height: 66px;
  }
  .main-header-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .main-header-nav-link.active {
    background-color: white;
    /* more styles in brandification */
  }
}
