<BasicDropdown as |dd|>
  <dd.Trigger class='trigger-bootstrap-feel'>Animate me</dd.Trigger>

  <dd.Content class='content-bootstrap-feel width-300 slide-fade'>
    <li>Miguel</li>
    <li>Matthew</li>
    <li>Dan</li>
  </dd.Content>
</BasicDropdown>