{{#basic-dropdown as |dd|}}
  {{#dd.trigger class="trigger-bootstrap-feel"}}Animate me{{/dd.trigger}}

  {{#dd.content class="content-bootstrap-feel width-300 slide-fade"}}
    <li>Miguel</li>
    <li>Matthew</li>
    <li>Dan</li>
  {{/dd.content}}
{{/basic-dropdown}}