<div class="demo-fake-body">
  <nav class="demo-fake-nav">
    <div class="demo-fake-logo">Bookface</div>
    <div class="demo-fake-notifications">
      {{#basic-dropdown horizontalPosition="right" as |dd|}}
        {{#dd.trigger onMouseDown=(action "prevent")
                      onMouseEnter=(action "open")
                      onMouseLeave=(action "closeLater")}}
          {{fa-icon 'bell-o'}}
          <span class="demo-fake-notifications-count">{{notifications.length}}</span>
        {{/dd.trigger}}

        {{#dd.content onMouseEnter=(action "open") onMouseLeave=(action "closeLater") class="demo-fake-notifications-content"}}
          <ul class="demo-fake-notifications-list">
            {{#each notifications as |notification|}}
              <li class="demo-fake-notification-entry">
                {{fa-icon 'phone-square' size=2}}
                <span>{{notification.text}}</span>
              </li>
            {{/each}}
          </ul>
        {{/dd.content}}
      {{/basic-dropdown}}
    </div>
  </nav>
</div>