.trigger-bootstrap-feel {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 6px 12px;
  line-height: 1.42857143;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  outline: none;
}

.trigger-bootstrap-feel:focus, .trigger-bootstrap-feel:hover {
  background-color: #d4d4d4;
  border-color: #8c8c8c
}

.content-bootstrap-feel {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  padding: 5px;
  margin: 2px 0 0;
}