{{#basic-dropdown as |dd|}}
  {{#dd.trigger class="trigger-bootstrap-feel"}}Click me <span class="caret"></span>{{/dd.trigger}}

  {{#dd.content class="content-bootstrap-feel"}}
    <p>I look like bootstrap, right?</p>
    <p>You can style me however you want</p>
  {{/dd.content}}
{{/basic-dropdown}}