<BasicDropdown as |dd|>
  <button
    type="button"
    class="trigger-bootstrap-feel"
    {{basic-dropdown-trigger dropdown=dd}}
  >
    Click me
  </button>

  <dd.Content class="content-bootstrap-feel width-300">
    I was opened with a custom trigger
  </dd.Content>
</BasicDropdown>