<div class="scroll__container">
  <div class="scroll__scrolling-container" style="position: relative;" id="dropdown-target">
    <div class="scroll__filler"></div>
    <div class="scroll__content-container">
      <div class="scroll__content">
        {{#basic-dropdown destination="dropdown-target" as |dd| }}
          {{#dd.trigger class="trigger-bootstrap-feel"}}Click me <span class="caret"></span>{{/dd.trigger}}

          {{#dd.content class="content-bootstrap-feel"}}
            <p>I look like bootstrap, right?</p>
            <p>You can style me however you want</p>
            <p>Option 3</p>
            <p>Option 4</p>
          {{/dd.content}}
        {{/basic-dropdown}}
      </div>
    </div>
    <div class="scroll__filler"></div>
  </div>
</div>
