<input type="checkbox" id="enable-dd-chk" checked={{not dropdownDisabled}}
  onchange={{action (mut dropdownDisabled) (not dropdownDisabled)}}>
<label for="enable-dd-chk" style={{checkboxLabelStyle}}>Enable dropdown</label>
<br>

{{#basic-dropdown disabled=dropdownDisabled as |dd|}}
  {{#dd.trigger
    class="trigger-bootstrap-feel"
    onMouseEnter=(action "highlightCheckboxIfDisabled")
    onMouseLeave=(action "resetHighlight")
  }}
    Can you open me?
  {{/dd.trigger}}

  {{#dd.content class="content-bootstrap-feel width-300"}}
    You solved the puzzle!
  {{/dd.content}}
{{/basic-dropdown}}