{{#if dropdown.isOpen}}
  {{#ember-wormhole to=to renderInPlace=renderInPlace class="ember-basic-dropdown-content-wormhole-origin"}}
    {{#if overlay}}
      <div class="ember-basic-dropdown-overlay"></div>
    {{/if}}
    {{#basic-dropdown/content-element
      tagName=_contentTagName
      id=dropdownId
      class=(concat "ember-basic-dropdown-content " class " " defaultClass " " (if renderInPlace 'ember-basic-dropdown-content--in-place ') (if hPosition (concat 'ember-basic-dropdown-content--' hPosition)) " " (if vPosition (concat 'ember-basic-dropdown-content--' vPosition)) " " animationClass)
      style=style
      dir=dir}}
      {{yield}}
    {{/basic-dropdown/content-element}}
  {{/ember-wormhole}}
{{else}}
  <div id={{dropdownId}} class="ember-basic-dropdown-content-placeholder" style="display: none;"></div>
{{/if}}