.trigger-material-round {
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  background-color: #fafafa;
  line-height: 40px;
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.26);
  outline: none;
  user-select: none;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  transition-property: background-color, box-shadow, transform;
}

.trigger-material-round:focus,
.trigger-material-round:hover {
  background-color: #eee;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.content-material-round {
  box-shadow:
    0 2px 4px -1px rgba(0, 0, 0, 0.2),
    0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 50%;
  overflow: hidden;
  margin: 5px 0 0;
}

.content-material-round img {
  display: block;
}
