<ShadowRoot>
  In shadow:<br />
  <BasicDropdown as |dropdown|>
    <dropdown.Trigger>Open me, i'm in shadow</dropdown.Trigger>
    <dropdown.Content><h3>Content of the dropdown in shadow</h3></dropdown.Content>
  </BasicDropdown>
</ShadowRoot>

<br />
<br />
<br />
<br />
Outside:<br />
<BasicDropdown as |dropdown|>
  <dropdown.Trigger>Open me (outside)</dropdown.Trigger>
  <dropdown.Content><h3>Content of the dropdown (outside)</h3></dropdown.Content>
</BasicDropdown>