// Utility classes
.text-center {
  text-align: center;
}

.width-300 {
  width: 300px;
}

// My own placeholders
%clearfix {
  &::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
  display: block;
}
%wrapper {
  max-width: 1024px; // not 960px because it's 2015
  width: 1024px;
  padding-left: $wrapper-padding;
  padding-right: $wrapper-padding;
  margin-left: auto;
  margin-right: auto;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
