@import 'ember-basic-dropdown';

.dropdown-300px {
  width: 300px;
}

.ember-basic-dropdown-content {
  border: 1px solid lightgray;
  border-radius: 4px;
  img {
    display: block;
    width: 100%;
  }
}

.ember-basic-dropdown-content.fade-in-dropdown {
  transition: opacity .2s;
  opacity: 0;
  &.ember-basic-dropdown--transitioning-in, &.ember-basic-dropdown--transitioned-in {
    opacity: 1;
  }
}

@keyframes grow-bounce {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  70% {
    transform: scale(1.05);
  }
  90% {
    transform: scale(0.97);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes shrink-bounce {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  10% { transform: scale(0.97); }
  30% { transform: scale(1.05); }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

// @keyframes grow {
//   0% { height: 0; }
//   100% { height: 254px }
// }
// @keyframes shrink {
//   0% { height: 254px; }
//   100% { height: 0 }
// }

@keyframes clip-grow {
  0% { clip: rect(auto, auto, 0, auto) }
  100% { clip: rect(auto, auto, 256px, auto) }
}

.ember-basic-dropdown-content.complex-animation-dropdown {
  &.ember-basic-dropdown--transitioning-in {
    animation: clip-grow .2s;
  }
  &.ember-basic-dropdown--transitioning-out {
    animation: clip-grow .2s reverse;
  }
}
