:root, :host {
  --ember-basic-dropdown-content-background-color: #fff;
  --ember-basic-dropdown-content-z-index: 1000;
  --ember-basic-dropdown-overlay-background: rgb(0 0 0 / 50%);
  --ember-basic-dropdown-overlay-pointer-events: none;
}
