// Define your variables first
@use "ember-basic-dropdown/scss/variables.scss" with (
  $ember-basic-dropdown-overlay-background: rgba(#3b5998, 0.5)
);

// Then use the styles, which will use your variable
@use "ember-basic-dropdown";
