{{#with
  (hash
    uniqueId=this.publicAPI.uniqueId
    isOpen=this.publicAPI.isOpen
    disabled=this.publicAPI.disabled
    actions=this.publicAPI.actions
    Trigger=(component
      (or @triggerComponent "basic-dropdown-trigger")
      dropdown=(readonly this.publicAPI)
      hPosition=(readonly hPosition)
      onFocus=(action "handleFocus")
      renderInPlace=(readonly renderInPlace)
      vPosition=(readonly vPosition)
    )
    Content=(component
      (or @contentComponent "basic-dropdown-content")
      dropdown=(readonly publicAPI)
      hPosition=(readonly hPosition)
      renderInPlace=(readonly renderInPlace)
      preventScroll=(readonly preventScroll)
      rootEventType=(or @rootEventType "click")
      vPosition=(readonly vPosition)
      destination=(readonly destination)
      top=(readonly top)
      left=(readonly left)
      right=(readonly right)
      width=(readonly width)
      height=(readonly height)
      otherStyles=(readonly otherStyles)
    )
  )
as |api|
}}
  {{#if this.renderInPlace}}
    <div class="ember-basic-dropdown" ...attributes>{{yield api}}</div>
  {{else}}
    {{yield api}}
  {{/if}}
{{/with}}