<h1 class='doc-page-title'>Installation</h1>

<p>
  Ember-basic-dropdown is distributed as an
  <a href='https://www.ember-cli.com/'>Ember CLI</a>
  addon. To install it, run the following command in your ember project directory
</p>

<div class='highlight'>
  <pre>
    <code class='language-text' data-lang='text'>$ ember install ember-basic-dropdown</code>
  </pre>
</div>

<p>
  After the installation you need to add the following lines somewhere in your templates where you want to render the dropdown content into e.g. your <code>application.hbs</code>.
  In this component will be rendered the dropdown content.
</p>

<div class='highlight'>
  <pre>
    <code class='language-text' data-lang='text'>&lt;BasicDropdownWormhole /&gt;</code>
  </pre>
</div>

<p>
  If you use vanilla CSS, you need to add the following line into <code>app.js</code>:
</p>

<CodeBlock @language="css" @code="import 'ember-basic-dropdown/styles';" />

<p>
  However, if you are using SASS or LESS you need to add an import statement to your styles.
</p>


{{#let (get-code-snippet "installation-1.scss") as |snippet|}}
  <CodeBlock @language="scss" @code={{snippet.source}} />
{{/let}}

<br />

<p>
  The styles of the addon are
  <strong>very minimal</strong>
  and deal mostly with positioning. You can tweak a couple things but we'll get
  to that later.
</p>

<p>
  Now let's learn the API of the component.
</p>

<div class='doc-page-nav'>
  <LinkTo @route="public-pages.docs.index" class='doc-page-nav-link-prev'>&lt; Overview</LinkTo>
  <LinkTo @route="public-pages.docs.how-to-use-it" class='doc-page-nav-link-next'>How to use it &gt;</LinkTo>
</div>