@use '../variables';

.scrolling-container-temporal-demo {
  padding: 100px;
}
.scroll {
  &__container {
    max-height: 600px;
    overflow: auto;
    padding: 20px;
  }

  &__scrolling-container {
    position: relative;
    height: 1000px;
    margin: 50px;
  }

  &__filler {
    width: 100%;
    height: 200px;
    background-color: variables.$blue-color;
  }

  &__content-container {
    max-height: 200px;
    overflow: auto;
  }

  &__content {
    padding: 100px 200px;
    height: 300px;
    width: 130%;
  }
}
