<h1 class='doc-page-title'>Installation</h1>

<p>
  Ember-basic-dropdown is distributed as an
  <a href='http://www.ember-cli.com/'>Ember CLI</a>
  addon, so the only thing you need to do to install it is run the following
  command in your ember project directory
</p>

<div class='highlight'>
  <pre>
    <code class='language-text' data-lang='text'>
      $ ember install ember-basic-dropdown
    </code>
  </pre>
</div>

<p>
  If you use just vanilla CSS, you're good to go. Ember-basic-dropdown will add
  the default styles to your vendor css file.
</p>

<p>
  However, if you are using SASS or LESS won't load any style by default.
  Instead you need add an import statement to your styles explicitly.
</p>

<CodeSnippet
  @name='installation-1.scss'
  @classNames='code-sample-snippet'
  class='active'
/>
<br />

<p>
  The styles of the addon are
  <strong>very minimal</strong>
  and deal mostly with positioning. You can tweak a couple things but we'll get
  to that later.
</p>

<p>
  Now let's learn the API of the component.
</p>

<div class='doc-page-nav'>
  <a
    href={{href-to 'public-pages.docs.index'}}
    class='doc-page-nav-link-prev'
  >&lt; Overview</a>
  <a
    href={{href-to 'public-pages.docs.how-to-use-it'}}
    class='doc-page-nav-link-next'
  >How to use it &gt;</a>
</div>