<h1 class='doc-page-title'>Test helpers</h1>

<br />

<p>
  Ember Basic Dropdown bundles some handy test helpers (<code
  >clickDropdown</code>
  and
  <code>tapDropdown</code>) that make it easier to simulate user interaction in
  acceptance tests.
</p>

<p>
  You can just have to import them at the top of your tests and call them
  preceded by
  <code>await</code>.
</p>

<CodeSnippet @name='test-helpers-1-js.js' />

<h3><code>clickTrigger(scope = null, eventOptions)</code></h3>

<p>
  Simulates a click to open or close the dropdown. As all integration test
  helpers is already runloop aware, so you don't need to wrap it in
  <code>Ember.run</code>.
</p>

<p>
  In case there is more than one dropdown rendered at the same time you can pass
  a string with the scope to trigger it over the desired one.
</p>

<CodeSnippet @name='test-helpers-2-js.js' />

<h3><code>tapTrigger(scope = null, eventOptions)</code></h3>

<p>
  Identical to
  <code>clickTrigger</code>
  but simulates a tap instead.
</p>

<CodeSnippet @name='test-helpers-3-js.js' />

<div class='doc-page-nav'>
  <a
    href={{href-to 'public-pages.docs.custom-position'}}
    class='doc-page-nav-link-prev'
  >&lt; Custom position</a>
</div>