<h1 class="doc-page-title">Test helpers</h1>

<br>
<h2>Acceptance Tests</h2>

<p>
  Ember Basic Dropdown bundles some handy test helpers (<code>clickDropdown</code> and <code>tapDropdown</code>)
  that make it easier to simulate user interaction in acceptance tests.
</p>

<p>
  To use those helpers in acceptance tests you need to register them in the <code>/tests/helpers/start-app.js</code>
  file.
</p>

<p>
  For that import the registration function and invoke it immedialty.
</p>

{{code-snippet name="test-helpers-1-js.js"}}

<div class="doc-page-nav">
  <a href={{href-to 'public-pages.docs.custom-position'}} class="doc-page-nav-link-prev">&lt; Custom position</a>
  {{!-- <a href={{href-to 'public-pages.docs.test-helpers'}} class="doc-page-nav-link-next">Test helpers &gt;</a> --}}
</div>