.demo-fake-body {
  background: white;
  height: 150px;
}

.demo-fake-nav {
  background-color: #0E79C9;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.demo-fake-logo {
  color: white;
  font-size: 30px;
}


.demo-fake-notifications {
  .ember-basic-dropdown-trigger {
    display: flex;
    color: #FFF;
    align-items: baseline;
    background-color: #0c6bb1;
    border-radius: 40px;
    padding: 5px 10px;
    cursor: pointer;
    height: 30px;
    &:focus, &[aria-pressed=true] {
      outline: none;
      background-color: #1b94ef;
    }
    .fa-bell-o {
      padding-right: 10px;
    }
  }
}

.demo-fake-notifications-count {
  background-color: #FFF;
  border-radius: 40px;
  padding: 0 5px;
  color: #333;
  font-weight: 600;
  width: 20px;
  height: 20px;
  line-height: 1.42;
}

.demo-fake-notifications-content {
  @extend %slide-fade;
  width: 300px;
  border: 1px solid #CCD1D9;
  box-shadow: rgba(0, 0, 0, 0.172549) 0px 6px 12px 0px;
  border-radius: 4px;
  margin-top: 10px;
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    bottom: 100%;
    right: 10px;
    border-bottom-color: #FFFFFF;
  }
}

.demo-fake-notifications-list {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
    border-bottom: 1px solid #CCD1D9;
    padding: 10px;
    display: flex;
    align-items: center;
    &:hover {
      background: #f5f5f5;
    }
  }
  .fa {
    margin-right: 10px;
    color: green;
  }
}

