<section class="docs">
  <nav class="side-nav">
    <header class="side-nav-header">Basic recipes</header>
    {{#link-to "public-pages.cookbook.index" class="side-nav-link"}}System-wide config{{/link-to}}
    {{#link-to "public-pages.cookbook.no-trigger" class="side-nav-link"}}Usage without trigger{{/link-to}}
  </nav>
  <section class="doc-page">
    {{outlet}}
  </section>
</section>
