@use "sass:color";
@use "docs/code-example";
@use "variables";

/* more styles in brandification */
@mixin brandify($brand-color, $brand-color-brighter) {
  a {
    color: $brand-color;
  }
  @include code-example.ember-code-example($brand-color);

  .doc-page-nav-link-next,
  .doc-page-nav-link-prev {
    border: 1px solid $brand-color;
  }

  .main-page-headline {
    background: $brand-color
      linear-gradient($brand-color, $brand-color-brighter);
  }

  .get-started-button {
    border: 1px solid $brand-color;
  }

  .contribute-call-to-action a {
    background-color: $brand-color;
    border: 1px solid color.adjust($brand-color, $lightness: -12%);
    box-shadow: 0 2px color.adjust($brand-color, $lightness: -18%);
    &:hover {
      background-color: color.adjust($brand-color, $lightness: -5%);
    }
  }
  .main-header {
    background-color: $brand-color;
  }

  .logo-dropdown-button {
    background: $brand-color;
    &:hover {
      background-color: color.adjust($brand-color, $lightness: 3%);
    }
  }
  .main-header-nav-link {
    color: inherit;
  }
  @media only screen and (min-width: variables.$small-breakpoint) {
    .main-header-nav-link.active {
      color: $brand-color;
    }
  }
  .side-nav-link.active {
    border-left: 3px solid $brand-color;
    color: $brand-color;
  }
  .circular-loader {
    border-top: 1.1em solid rgba($brand-color, 0.25);
    border-right: 1.1em solid rgba($brand-color, 0.25);
    border-bottom: 1.1em solid rgba($brand-color, 0.25);
  }
}

.logo-dropdown-content-pantone-entry.brown {
  background-color: variables.$brown-color;
}
.logo-dropdown-content-pantone-entry.orange {
  background-color: variables.$orange-color;
}
.logo-dropdown-content-pantone-entry.blue {
  background-color: variables.$blue-color;
}
.logo-dropdown-content-pantone-entry.purple {
  background-color: variables.$purple-color;
}
.logo-dropdown-content-pantone-entry.line {
  background-color: variables.$line-color;
}
.logo-dropdown-content-pantone-entry.pink {
  background-color: variables.$pink-color;
}
.logo-dropdown-content-pantone-entry.red {
  background-color: variables.$red-color;
}

@include brandify(variables.$brown-color, variables.$brown-color-brighter);

.orange-brand {
  @include brandify(variables.$orange-color, variables.$orange-color-brighter);
}
.blue-brand {
  @include brandify(variables.$blue-color, variables.$blue-color-brighter);
}
.purple-brand {
  @include brandify(variables.$purple-color, variables.$purple-color-brighter);
}
.line-brand {
  @include brandify(variables.$line-color, variables.$line-color-brighter);
}
.pink-brand {
  @include brandify(variables.$pink-color, variables.$pink-color-brighter);
}
.red-brand {
  @include brandify(variables.$red-color, variables.$red-color-brighter);
}
.brown-brand {
  // @include brandify($brown-color, $brown-color-brighter);
}
