@use 'sass:color';
// Colors
$text-color: #333;
$headings-text-color: #313131;
$code-text-color: $text-color;

// Breakpoints
$small-breakpoint: 678px;
$medium-breakpoint: 748px; // 768px originally

// Orange theme
$orange-color: #d8563a;
$orange-color-brighter: #e67c00;

// Blue theme
$blue-color: #1983ff;
$blue-color-brighter: #27a9c5;

// Purple theme
$purple-color: #6d48a5;
$purple-color-brighter: #8d66c8;

// Lile theme
$line-color: #a826ce;
$line-color-brighter: #c07cd4;

// Pink theme
$pink-color: #ce269f;
$pink-color-brighter: #dd82c3;

// Red-ish theme
$red-color: #ce264a;
$red-color-brighter: #f77f7f;

// Brown-ish theme
$brown-color: #d27303;
$brown-color-brighter: color.adjust($brown-color, $lightness: 10%);

// // Red
// $brand-color: $brown-color;
// $brand-color-brighter: $brown-color-brighter;

$light-gray: #ddd;
$gray: #888;

// Paddings
$wrapper-padding: 0.5rem;
