<h2 id="title">Welcome to Ember</h2>

{{#ember-dropdown as |dropdown|}}
  <button>
    This is the trigger
  </button>
{{else}}
  <p>This is the content</p>
  <h3>It can contain anything.</h3>
{{/ember-dropdown}}
