<h1>Helpers testing</h1>

<div class="dropdown-0-wrapper">
  {{#basic-dropdown selected=selected1 onSelect=(action (mut selected1) value="date") as |dd|}}
    {{#dd.trigger class="dropdown-0"}}
      Click me
    {{/dd.trigger}}
    {{#dd.content}}
      Hello world 0!
    {{/dd.content}}
  {{/basic-dropdown}}
</div>

<div class="dropdown-1-wrapper">
  {{#basic-dropdown selected=selected1 onSelect=(action (mut selected1) value="date") as |dd|}}
    {{#dd.trigger class="dropdown-1"}}
      Click me
    {{/dd.trigger}}
    {{#dd.content}}
      Hello world 1!
    {{/dd.content}}
  {{/basic-dropdown}}
</div>
