{{#basic-dropdown onOpen=(action "onOpenFirst") onClose=(action "onCloseFirst") class="dd-1"}}
  <h3>Content of the dropdown 1</h3>
{{else}}
  <button>Press me 1</button>
{{/basic-dropdown}}

{{#basic-dropdown onOpen=(action "onOpenSecond") class="dd-2" dropdownPosition="above"}}
  <h3>Content of the dropdown 2</h3>
{{else}}
  <button>Press me 2</button>
{{/basic-dropdown}}